{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Détail{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/theme.css' %}?v=500">
  <link rel="stylesheet" href="{% static 'css/modals.css' %}?v=500">
  {% block extra_css %}{% endblock %}
</head>

<body>
<div class="app">

  <div class="topbar">
    <div class="topbar__inner">
      <div class="head">
        {% block topbar_left %}{% endblock %}
        <div class="titlewrap">
          <h1 class="page-title">{% block page_title %}{% endblock %}</h1>
          <div class="breadcrumb">{% block breadcrumb %}{% endblock %}</div>
          {% block page_subtitle %}{% endblock %}
        </div>
      </div>

      <div class="btnrow">
        {% block topbar_actions %}{% endblock %}
      </div>
    </div>
  </div>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

</div>

{% block modals %}{% endblock %}

{# Popup messages Django (global) #}
{% include "core_emails/modals/messages_modal.html" %}

<script src="{% static 'js/modals.js' %}?v=500" defer></script>
<script src="{% static 'js/dashboard_msg_modal.js' %}?v=501" defer></script>
  {% block page_js %}{% endblock %}
  {% block extra_js %}{% endblock %}

</body>
</html>
