{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion — Ordo</title>

      <link rel="stylesheet" href="{% static 'css/theme.css' %}?v=500">
  <link rel=\"stylesheet\" href=\"{% static 'css/auth.css' %}?v=500\">
</head>

<body class="auth-body auth-ordo2">

<div class="login-box">

    <!-- LOGO -->
    <img
        src="{% static 'admin/img/ordo.png' %}"
        alt="Logo Ordo"
        class="logo"
    >

    <h1>Connexion sécurisée</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Se connecter</button>
    </form>

    <div class="footer">
        © Ordo — Pharmacie de Fives
    </div>

</div>

</body>
</html>
